= link_to event_path(id: event.slug), class: 'event-card' do
  - if event.guest
    .event-card__guest
      Special Guest!
  .event-card__image{ style: "background-image: url(#{image_with_default event.image_url})" }
  .event-card__content
    - if event.series
      %span.series= event.series.name
    %h3= event.title
    %p= event.formatted_date
    %p= event.venue&.name
    - if !event.is_past? && (event.free? || event.url)
      %p= event.formatted_cost
