= link_to event_path(id: event.slug), class: 'event-card', 'data-event' => 'wq.eventClick', 'data-event-parameters' => event.to_json do
  .event-card__special-event
    - if event.special_event
      %span= event.special_event.humanize
    - if event.guest
      %span Special Guest!
  .event-card__image{ style: "background-image: url(#{image_with_default event.image_url})" }
  .event-card__content
    -# - if event.series
    -#   %span.series= event.series.name
    - if event.event_type
      %span.event-type= event.event_type.humanize
    %h3= event.title
    %p= event_dates(event)
    %p= event.venue&.name
    - unless event.cost.nil?
      %p= event_cost(event)
  