= content_for :title, @event.title
= content_for :description, @event.full_description
= content_for :body_class, 'body-event'

.pink-shard

- if @event.event_type || @event.special_event
  .wrapper
    - if @event.special_event
      %span.highlight.highlight--black.l-mrs
        = @event.special_event.humanize
    - if @event.event_type
      %span.highlight.highlight--black
        = @event.event_type.humanize
        
.wrapper
  %h1.highlight.highlight--black.event__title
    = @event.title

- if @film && @film.alt_title
  .wrapper
    %h3.highlight.highlight--black.event__alt-title
      = @film.alt_title

- if @event.guest
  .wrapper
    %h3.highlight.highlight--black.event__guests
      With Special
      = @event.guest.length > 1 ? 'Guests' : 'Guest'
      = @event.guest.to_sentence

.wrapper.wrapper--event

  .l-right-column
    .event__details
      .event__details__info
        %h3.m-hide= @event.title
        %p
          = event_dates(@event)
        %p= @event.venue.name
        - unless @event.cost.nil?
          %p= event_cost(@event)
      - if @event.url
        .event__details__button
          - attrs = @event.is_past? ? {disabled: true} : {href: @event.url, target: '_blank'}
          %a#tickets-button.button{attrs} Buy Tickets
      - if @event.virtual?
        %p.l-mtl= @event.venue.description
      - else
        %iframe.event__location.m-hide{ src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_API_KEY']}&q=#{@event.venue.name}"}

  .l-left-column
    - if @event.image
      %img.event__media{ src: "#{@event.image.file.url}" }
    - elsif @film && @film.trailer
      .iframe.event__media
        %iframe{ allowfullscreen: 'allowfullscreen', src: @film.trailer }
    - elsif @film && @film.image
      %img.event__media{ src: "#{@film.image.file.url}" }

    .event__text
      - if @film
        %p.event__film-details
          - if @film.director
            %span
              %i.fa.fa-video-camera
              Directed by
              = @film.director

          - if @film.release_date
            %span
              %i.fa.fa-calendar
              = @film.release_date.strftime('%Y')

          - if @film.runtime
            %span
              %i.fa.fa-clock-o
              = @film.formatted_runtime

          - if @film.country_of_origin
            %span
              %i.fa.fa-globe
              = @film.country_of_origin.join(', ')

          - if @film.original_language
            %span
              %i.fa.fa-language
              = @film.original_language.join(', ')

          - if @film.genres
            %span
              %i.fa.fa-film
              = @film.genres.join(', ')

      .event__description
        = parse_markdown(@film&.description)
        = parse_markdown(@event&.description)
        - if @event.presenter
          %p
            This event is proud to be co-presented by:
            - @event.presenter.each do |presenter|
              - if presenter.presenter_url
                %a{ href: presenter.presenter_url, target: '_blank' }
                  = presenter.presenter_name
                = "#{', ' unless presenter == @event.presenter.last}"
              - else
                = presenter.presenter_name
        - if @film && @film.original_language
          - language = @film.original_language.dup - ['English']
          - if language.length > 1
            %p
              This film is presented with English subtitles.

    - if @event.additional_films
      .event__text
        - @event.additional_films.each do |film|
          .event__additional-film
            .event__additional-film__image{ style: "background-image: url(#{image_with_default(film.image_url)})" }
            .event__additional-film__text
              %h3.highlight= film.title
              %p= parse_markdown(film&.description)
              %p.event__film-details
                - if film.director
                  %span
                    %i.fa.fa-video-camera
                    Directed by
                    = film.director
      
                - if film.runtime
                  %span
                    %i.fa.fa-clock-o
                    = film.runtime
                    m
      
                - if film.original_language
                  %span
                    %i.fa.fa-language
                    = film.original_language.join(', ')
      
                - if film.country_of_origin
                  %span
                    %i.fa.fa-globe
                    = film.country_of_origin.join(', ')
      
                - if film.genres
                  %span
                    %i.fa.fa-film
                    = film.genres.join(', ')