= content_for :title, @series.name
= content_for :description, @series.description

.series-shard-1
.series-shard-2

.wrapper
  %h1.highlight.series__title
    = @series.name

.wrapper.series__description
  %h1.highlight
    = @series.description

.wrapper.wrapper--filters.l-mtxl
  - if @all_events.length > 3
    .filters
      = render 'shared/filters'

  .wrapper--events
    - @events.each do |event|
      = render 'events/event', event: event

    - (3 - @events.length % 3).times do
      .event-card__spacer
