!!!

%html
  %head 
    = Gon::Base.render_data

    :javascript
      dataLayer = [];

    :javascript
      <!-- Google Tag Manager -->
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KQQ6NLL');
      <!-- End Google Tag Manager -->

    - image = '/wq_graphic.png'
    - image = "http:#{@homePage.hero_image.file.url}" if @homePage
    - image = "#{image_with_default @event.image_url}" if @event

    %title= formatted_title(yield :title)

    = csrf_meta_tags
    = csp_meta_tag

    %meta{ property: 'og:title' , content: formatted_title(yield :title) }
    %meta{ property: 'og:type' , content: 'website' }
    %meta{ property: 'og:url', content: request.url }
    %meta{ property: 'og:image', content: image }
    %meta{ property: 'og:description', content: yield(:description) }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %link{ href: '/favicon.png', rel: 'shortcut icon', type: 'image/png' }
    %link{ href: '//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700|Source+Sans+Pro:300,400,700', rel: 'stylesheet'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' }
    %script{ src: '//use.fontawesome.com/2062cb2865.js' }
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ class: yield(:body_class) }

    = render 'layouts/header'

    %main.js-main
      = yield

    %footer
      = render 'layouts/newsletter'

      .footer__links
        .footer__links__left
          = link_to root_path do
            = image_tag 'logo_pink_and_trans.svg', class: 'logo'

        .footer__links__right
          %a.footer__link{href: '/events'} Events
          %a.footer__link{href: '/about-us'} About
          %a.footer__link{href: '/volunteer'} Volunteer
          %a.footer__link{href: '/membership'} Membership
          %a.footer__link{href: 'https://filmfreeway.com/festival/WickedQueer', target: '_blank'} Submit a Film

      .footer__copyright
        .footer__copyright__left
          &copy; 2021 Wicked Queer
